/*
Theme Name: Generic
Theme URI: https://generic.tools/
Author: Bryan Hadaway
Author URI: https://calmestghost.com/
Description: A fully responsive, SEO-friendly, jQuery-ready, and WordPress theme review guidelines compliant starter theme for designers and developers, which comes with its own built-in CSS grid (https://generic.tools/grid/). This generic/starter/clean/simple/bare/blank/minimalist/example/cheatsheet/white-label/HTML5/CSS3/base/foundation/framework/skeleton/boilerplate/whatever theme was created specifically as a tool to assist with building client sites virtually from scratch or building and submitting your own themes. It's updated to reflect new changes in theme review requirements, to make the process much easier with a higher level of success (some theme authors never make it through), but please post bugs, suggestions for improvement, or support requests on GitHub (https://github.com/bhadaway/generic-theme/issues) if you're getting jammed up on your review ticket. Note: the aim of the project is to meet WordPress guideline requirements, but not necessarily all of its recommendations. The biggest diversion would be the semi-minification of Generic's code. If you prefer the WordPress official coding standard (https://make.wordpress.org/core/handbook/best-practices/coding-standards/) or some other popular standard, you may download a free trial of PhpStorm (https://www.jetbrains.com/phpstorm/) or use some other code formatter/beautifier to automatically and instantly bulk format all the code to your liking. If I was able to help you out, consider making a donation (https://calmestghost.com/donate). Thank you and enjoy!
Version: 1.0
License: GNU General Public License v3 or Later
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, right-sidebar, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready, blog, e-commerce, portfolio
Text Domain: generic

Generic WordPress Theme © 2015-2018 GenericTools
Generic is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}a{text-decoration-skip-ink:auto}button{outline:0}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}q:after{content:'"';font-style:normal}textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;border-radius:0}table{border-collapse:collapse;border-spacing:0}th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}

body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size:16px;color:#777;line-height:normal;word-wrap:break-word;background:#f6f6f6}

h1, h2, h3, h4, h5, h6{font-weight:bold;margin-bottom:30px}
h2, h3, h4, h5, h6{margin-top:40px}
h1{font-size:35px}
h2{font-size:30px}
h3{font-size:25px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p{margin:30px 0}
.page #content p, .single-post #content p{font-size:18px;line-height:145%}
* p:last-of-type, #sidebar .widget-container:last-child{margin-bottom:0}
a{color:#09f;transition:all 0.5s ease}
strong{font-weight:bold}
em{font-style:italic}
pre{overflow-x:auto;white-space:pre-wrap}
pre, code{font-family:'courier new',courier,serif}
hr{height:1px;border:0;margin:30px 0;background:#ccc}
blockquote{padding:15px;border-left:4px solid #ccc;margin:30px 0}
blockquote p:first-of-type{margin-top:0}
.entry-content ul, .widget-container ul, .comment-body ul, .entry-content ol, .widget-container ol, .comment-body ol{text-indent:-20px;margin:30px 0 30px 40px}
.entry-content ol, .widget-container ol, .comment-body ol{list-style:decimal inside;text-indent:-18px}
.entry-content ul ul, .widget-container ul ul, .comment-body ul ul, .entry-content ol ol, .widget-container ol ol, .comment-body ol ol{margin-top:0;margin-bottom:0}
.entry-content ul li:before, .widget-container ul li:before, .comment-body ul li:before{content:"— "}
.entry-content li, .widget-container li, .comment-body li{line-height:125%;margin:10px 0}
input, textarea{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;padding:15px;border:0;outline:0;margin-top:10px;background:#f6f6f6}
input[type="submit"], #menu .toggle:hover{cursor:pointer}
input[type="search"]{-webkit-appearance:textfield}
a img, input[type="image"]{border:0}
img, video, audio, table, select, textarea{max-width:100% !important;height:auto}
table{width:100%;margin:30px 0}

#wrapper{max-width:100%;margin:0 auto}
#header, #container, #footer{padding:5%}
#container{background:#fff}
#container:after{display:table;content:"";clear:both}
#content{width:75%;padding-right:5%;float:left}
#sidebar{width:25%;float:right}
#footer{clear:both}

#menu{margin-top:20px}
#menu ul, #menu ul li{display:inline;margin:0;padding:0;list-style:none}
#menu ul li{position:relative}
#menu ul li a{display:inline-block;font-size:18px;color:#333;text-decoration:none;line-height:33px;padding-bottom:10px;margin-top:-1px;margin-right:20px}
#menu ul li a:hover{color:#777;text-decoration:none}
#menu li ul{display:none;position:absolute;top:30px;left:0;z-index:1000}
#menu ul li:hover ul{display:inline-block}
#menu ul ul{display:none}
#menu ul li:hover ul{display:block}
#menu ul li:hover ul li a{width:250px;font-size:14px;line-height:20px;padding:10px;border:1px solid #eee;background:#fff}
#menu .toggle{display:none;height:36px;color:#fff;text-align:center;line-height:32px}
.ios #menu .toggle{font-size:19px;line-height:36px}
#menu .menu-icon{position:relative;top:1px;font-size:22px;margin-right:2px}
.firefox #menu .menu-icon{top:0}

#search{float:right}
#search .search-field{width:200px;height:36px;padding:10px;margin-top:0;background-color:#fff}
.widget-container .search-field{width:100%}
.error404 .entry-content .search-field, .search .entry-content .search-field{width:200px;margin-top:30px}
.error404 .entry-content .search-field, .search .entry-content .search-field, .widget-container .search-field{background-color:#f6f6f6}
.search-field{background:url(images/find.png) no-repeat 98% center / 24px auto}

.button, button, input[type="submit"]{display:inline-block;font-family:georgia,serif;font-size:18px;color:#fff;text-align:center;text-decoration:none;padding:10px 15px;border:0;background:#09f;opacity:0.9}
.button:hover, button:hover, input[type="submit"]:hover{cursor:pointer;opacity:1}
#site-title a{font-size:40px;font-weight:normal;color:#777;text-decoration:none;display:inline}
#site-title h1{margin-bottom:0}
.single h1.entry-title a{color:#777;text-decoration:none}
h2.entry-title, h3.widget-title{margin-top:0}
#commentform label{display:block}
#commentform #comment{width:100%;max-width:400px !important;height:auto}
#comments .comment-author{line-height:14px}
#comments .comment-author img{margin-right:5px;float:left}
#comments .comment{margin:20px 10px}
#comments .comment-body{padding:15px}
#comments .odd > .comment-body{background:#f6f6f6}
#comments .comment-body > p{font-size:16px;margin:15px 0 0}
#copyright{text-align:center}
.entry-meta, .entry-footer, .archive-meta{margin:30px 0}
.entry-footer{clear:both}
#copyright, #copyright a, .entry-meta, .entry-meta a, .entry-footer, .entry-footer a, .comment-meta, .comment-meta a, .comment-author, .comment-author a{font-size:14px;color:#aaa}

.sticky{padding-bottom:60px;border-bottom:4px solid #ccc}
.bypostauthor{}
.post, .widget-container, .search article{margin-bottom:60px}
.post:last-of-type{margin-bottom:0}
.wp-caption{width:auto !important}
.wp-caption.aligncenter, .wp-caption-text, .gallery-caption{text-align:center}
.alignleft{margin:0 30px 30px 0;float:left}
.alignright{margin:0 0 30px 30px;float:right}
.aligncenter{display:block;margin:30px auto;clear:both}
.wp-post-image{display:block;margin-bottom:30px}
.entry-attachment img{display:block;margin:60px auto 30px}
.attachment .entry-caption{text-align:center}
.nav-links{margin-top:30px}
.nav-links a, #nav-above a{text-decoration:none}
#nav-above a{display:block;font-family:tahoma,sans-serif;font-size:50px;color:#777;line-height:0;margin:30px 0 15px}
.nav-previous{text-align:left;float:left}
.nav-next{text-align:right;float:right}

.note{display:block;font-size:14px;padding:20px;margin:30px 0}

.blue, .blue *, .blue-dark, .blue-dark *, .green, .green *, .green-dark, .green-dark *, .orange, .orange *, .purple, .purple *, .red, .red *, .black, .black *{color:#fff}
.white, .white *, .yellow, .yellow *{color:#000}
.white{background-color:#fff !important}
.blue{background-color:#09f !important}
.blue-dark{background-color:#1c78b5 !important}
.green{background-color:#91da29 !important}
.green-dark{background-color:#5d8c1a !important}
.orange{background-color:#f98733 !important}
.purple{background-color:#bb6cf8 !important}
.red{background-color:#ef645d !important}
.yellow{background-color:#f8f658 !important}
.black{background-color:#4a4a45 !important}

.box, .box-2, .box-3, .box-4, .box-5, .box-6, .box-1-3, .box-2-3{display:inline-block;width:100%;padding:1%;border:1px solid #ccc;vertical-align:top;float:left}
.box-2{width:50%}
.box-3, .box-1-3{width:33.3333333%}
.box-4{width:25%}
.box-5{width:20%}
.box-6{width:16.6666667%}
.box-2-3{width:66.6666666%}

.left{text-align:left}
.center{text-align:center}
.right{text-align:right}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.clear-left{clear:left}
.clear-right{clear:right}
.clear-float:after, .boxes:after{display:table;content:"";clear:both}

@media all and (max-width:1024px){.box-5, .box-6{width:25%}.boxes .box-5:nth-child(5){width:100%}.boxes .box-6:nth-child(5), .boxes .box-6:nth-child(6){width:50%}}
@media all and (max-width:768px){#content, #sidebar{width:100%;padding:0}#menu.checked{width:100%;height:100%;bottom:0;overflow-x:hidden;overflow-y:auto;z-index:1000}#menu label.toggle{display:block}#menu{background:#777}#menu ul, #menu ul ul{display:none}#menu input.toggle:checked + div > ul, #menu input.toggle:checked + div > ul ul{display:block;position:relative;top:0;padding:0}#menu input.toggle:checked + div > ul{padding-bottom:10px}#menu input.toggle:checked + div > ul li a, #menu input.toggle:checked + div > ul ul li a{display:inline-block;width:100%;font-size:18px;color:#fff;line-height:20px;padding:15px 0 5px 5%;border:0;margin-right:0;background:none}#menu input.toggle:checked + div > ul ul li a{color:#ccc;margin-left:15px}.box-4, .box-5, .box-6{width:50%}}
@media all and (max-width:767px){.single .nav-links .nav-previous, .single .nav-links .nav-next{float:none}.box-3{width:50%}.boxes .box-3:nth-child(3){width:100%}}
@media all and (max-width:480px){.wp-caption, input, textarea, .button{width:100% !important}input[type="checkbox"], input[type="radio"]{width:auto !important}.box-2, .box-3, .box-4, .box-5, .box-6, .boxes .box-6:nth-child(5), .boxes .box-6:nth-child(6), .box-2-3, .box-1-3{width:100%}}

.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}
.form-allowed-tags, .search-submit{display:none !important}

@media print{#content{width:100%;color:#000;padding:0;margin:0;background:#fff;float:none}#header, #sidebar, #footer{display:none}}